<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.java.rent.mapper.RentMapper">
	<!-- 도서 대여 현황 조회 -->
	<select id="selectRentList" resultType="RentVO">
		SELECT b.book_no,
			   b.book_name,
			   SUM(r.rent_price) as rent_total,
               COUNT(r.book_no) as rent_count
		FROM book_tbl_06 b RIGHT JOIN rent_tbl_06 r
        ON (b.book_no = r.book_no)
        GROUP BY b.book_no, b.book_name
		
	</select>

</mapper>